body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

@font-face {
  font-family: scp;
  src: url("./source_code_pro/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: scp;
  src: url("./source_code_pro/SourceCodePro-Bold.ttf");
  font-weight: bold;
}

.cm-wrap {
  height: 100%;
}
.cm-scroller {
  font-family: "scp", Menlo, Monaco, Consolas, "Courier New", monospace !important;
  font-size: 0.8rem;
}
